@page
@model Automation_Test_Data_App.Pages.AddRolePlayer.CreateModel
@{
}
@if(Model.errorMessage.Length > 0){
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
	</div>
}

<br>
<h2>New Life Assured</h2>

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Title</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Title" value="@Model.addRolePlayerInfo.Title">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">First_name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="First_name" value="@Model.addRolePlayerInfo.First_Name">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Surname</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Surname" value="@Model.addRolePlayerInfo.Surname">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Initials</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Initials" value="@Model.addRolePlayerInfo.Initials">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">dob</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="dob" value="@Model.addRolePlayerInfo.dob">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Gender</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Gender" value="@Model.addRolePlayerInfo.Gender">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">ID_number</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="ID_number" value="@Model.addRolePlayerInfo.ID_number">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Relationship</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Relationship" value="@Model.addRolePlayerInfo.Relationship">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Comm_date</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Comm_date" value="@Model.addRolePlayerInfo.Comm_date">	
		</div>
	</div>

	@if (Model.successMessage.Length > 0) {
	<div class="row mb-3">
		<div class="row mb-9">
			<div class='alert alert-success alert-dismissible fade show' role='alert'>
			<strong>@Model.successMessage</strong>
			<button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
			</div>
		</div>
	</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>	