@page
@model Automation_Test_Data_App.Pages.PolicyServicing.AddRolePlayer.IndexModel
@{
}
<br>
<h2>Additional Life Assured </h2>
<a class='btn btn-primary btn-sm' href='Addalife/Create'>New Life Assured</a>
<table class="table">
	<thead>
		<tr>
			<th>ID<th/>
			<th>Title<th/>
			<th>First_Name<th/>
			<th>Surname<th/>
			<th>Initials<th/>
			<th>dob<th/>
			<th>Gender<th/>
			<th>ID_number<th/>
			<th>Relationship<th/>
			<th>Comm_date<th/>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListAddRolePlayer)
		{

			<tr>
				<td>@item.id</td>
				<td></td>
				<td>@item.Title</td>
				<td></td>
				<td>@item.First_Name</td>
				<td></td>
				<td>@item.Surname</td>
				<td></td>
				<td>@item.Initials</td>
				<td></td>
				<td>@item.dob</td>
				<td></td>
				<td>@item.Gender</td>
				<td></td>
				<td>@item.ID_number</td>
				<td></td>
				<td>@item.Relationship</td>
				<td></td>
				<td>@item.Comm_date</td>

				<td>

					<a class="btn btn-primary btn-sm" href="/PolicyServicing/AddRolePlayer/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/PolicyServicing/AddRolePlayer/Delete?id=@item.id">Delete</a>

				</td>
				





			</tr>
		}

	</tbody>
</table>
