@page
@model Automation_Test_Data_App.Pages.PolicyServicing.CollectionMethodData.CreateModel
@{
}

@if(Model.errorMessage.Length > 0){
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
	</div>
}
	
	@if (Model.successMessage.Length > 0) {
	<div class="row mb-3">
		<div class="row mb-9">
			<div class='alert alert-success alert-dismissible fade show' role='alert'>
			<strong>@Model.successMessage</strong>
			<button type='button' class='btn-close' data-bs-dismiss='alert' arial-label='Close'></button>
			</div>
		</div>
	</div>
	}

<br>
<h2>Change Collection Method Component</h2>

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">employee_number 1</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="employee_number1" value="@Model.ChangeCollectionMethodInfo.employee_number1" minlength="10" maxlength="10">	
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">employee_number2</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="employee_number 2" value="@Model.ChangeCollectionMethodInfo.employee_number2"  minlength="10" maxlength="10">	
		</div>
	</div>
		<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Collection method type</label>
		<div class="col-sm-6">
		<select id='collectionmethod' class="form-control" name="collectionmethod" value="@Model.ChangeCollectionMethodInfo.collectionmethod">
		<option value=""></option>
		<option value="Mister">Mr</option>
		<option value="Mrs">Mrs</option>
		<option value="Miss">Miss</option>
		</select>
		</div>
	</div>


	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>

</form>		
		
