@page
@model Automation_Test_Data_App.Pages.PolicyServicing.ChangeLifeData.IndexModel
@{
}

<br>
<h2>Change Life Assured Data </h2>
<a class='btn btn-primary btn-sm' href='ChangeLifeData/Create'>New Life Assured Details</a>
<table class="table">
	<thead>
		<tr>
			<th>ID<th/>
			<th>Title<th/>
			<th>Surname<th/>
			<th>Marita Status<th/>
			<th>EducationLevel<th/>
			<th>Department<th/>
			<th>Profession<th/>
			<th>Action<th/>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListChangeLifeData)
		{

			<tr>
				<td>@item.id</td>
						<td></td>
				<td>@item.Title</td>
					<td></td>
				<td>@item.Surname</td>
					<td></td>
				<td>@item.MaritalStatus</td>
					<td></td>
				<td>@item.EducationLevel</td>
					<td></td>
				<td>@item.Department</td>
					<td></td>
				<td>@item.Profession</td>
					
				<td>

					<a class="btn btn-primary btn-sm" href="/PolicyServicing/ChangeLifeData/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/PolicyServicing/ChangeLifeData/Delete?id=@item.id">Delete</a>

				</td>
				

			</tr>
		}

	</tbody>
</table>
